@{
}

<div style="width: 100%; height: 100%; display: flex; flex-direction:column; align-items: center; justify-content: center">
    <div style="display: flex; flex-direction: column; margin-top: 8rem" class="px-5 py-6 shadow-sm">
        <h1>Register</h1>
        <form style="display: flex; flex-direction: column; width: 500px; margin-top: 1rem; margin-bottom: 1rem">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control mb-3" />
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control mb-3" />
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" />
            <input type="button" class="btn btn-danger w-25 mt-3" value="Submit" />
        </form>
        <p style="margin-bottom: 2rem">Already a member? <a href="/User/Login">Login</a></p>
    </div>
</div>
